.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.logo {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    font-size: 0px;
}


.stockRow {
  fontSize : 12px;
  color:  red;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.button{
  width : 70px;
  height : 30px;
}